.sobrenos{
    background-color: black;
    position: relative;
}
.sobrenos-img{
    width: 100%;
    vertical-align: middle;
    height: 800px;
}

h3{
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.sobrenos-text{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
}
